/*layout*/

.grid-container{
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  gap: 5px;
  background-color: black; /*outline*/
  padding: 5px;
}

.grid-container>div{ /* select all divs inside the class */
  background-color: white;
  text-align: center;
  vertical-align: center;
  padding: 10px 5px;
  /* background-color: blue; */
}

.item1{
  grid-area: header;
  height: 50px;
  vertical-align: top;

}

.item2{
  grid-area: content;
  height: 400px;
}

.item3{
  grid-area: footer;
  height: 100px;

}

a:link{
  color: black;
  text-decoration: none;
}

a:visited{
  color: black;
  text-decoration: none;
}

a:active{
  color: black;
  text-decoration: none;
}

.clickable:hover{
  text-decoration: none;
  color: blue;
  font-size: 150%;
  transition: .5s;
}

h1{
  margin: 5pt;
}

p{
  font-size: 16pt;
}
